.k-widget a {
    color: #fff;
}
.color-yellow{
    color: yellow;
}
#productTable .editCls{width:20px;display:inline-block;} 
#productTable .deleteCls{width:15px;display:inline-block;}
#productTable .viewCls{width:22px;display:inline-block;}
.form-control[disabled]{
	background-color:#eee;
}
select:disabled {
	background: #ebebe4;
    cursor: not-allowed;
}
.clickableImage {
	cursor: pointer;
}
textarea.form-control {
    height: auto !important;
}
.addBtn{
    height: 23px;
    padding-top: 0px;
    margin-right: 10px;
    margin-top: 4px;
    margin-bottom: 6px;
    border-radius: 4px;
    width: 62px;
    font-weight: 600;
}
#productTable .k-grid-content {
	min-height: 45vh;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
#productTable .k-grid-content {
    min-height: 45vh;
}

.FailMsg{color: red; font-weight: bold;}
.successMsg{color: #27d623; font-weight: bold;}
#newProduct .fa-plus{
    margin-left: -4px;
}
table.dataTable thead th{
    padding: 10px 11px !important;
}
table.dataTable tbody td {
    padding: 8px 13px !important;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_info{
    margin-left: 11px;
}
.dataTables_wrapper .dataTables_filter{
	margin-right: 7px;
}
.hidden{
	visibility: hidden;
}
.sorting_disabled{
	width: 62px;
}
.fa-edit, .fa-trash , .fa-eye{
	font-size:16px;
	font-weight:bold;
	/* color:blue; */
}
.fa-edit:hover{
	color:darkblue;
}
.fa-trash:hover{
	color:red;
}
.fa-eye:hover{
	color:darkorange;
}
.row-height{
	height: 40px;
    margin-bottom: 5px;
}





