
    <div class="container-fluid">
        <h2 class=" text-primary text-center mb-4">Corona Tracking Report</h2>
        <div class="container-fluid">

            <div ng-if="showOverallDetails">
                <div class="col-sm-12 row">
                    <div class="col-sm-3"> 
                        <h4>Confirmed</h4>
                        <h5 class="text-warning">{{confirmedCases}} </h5>
                    </div>
                    <div class="col-sm-3"> 
                        <h4>Recovered</h4>
                        <h5 class="text-success">{{RecoveredCases}} </h5>
                    </div>
                    <div class="col-sm-3"> 
                        <h4>Deaths</h4>
                        <h5 class="text-danger">{{Deaths}} </h5>
                    </div>
                    <div class="col-sm-3"> 
                        <h4>Last Updated Time</h4>
                        <h5 class="text-primary">{{LastUpdatedTime | date : "medium"}} </h5>
                    </div>
    
                </div>
            </div>
            <hr>

            <form class="form-inline">
                <div class="form-group row">
                    <label class="col-sm-2 text-primary col-form-label">Enter Country Name:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control m-2" ng-model="searchCountry"/>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-primary mt-2" ng-click="doSearch()">Search</button>
                    </div>
                </div>
            </form>
            <div ng-if="showCountryCases">
                <div class="row">
                    <div class="col-sm-2 text-primary">Confirmed Cases:</div>
                    <div class="col-sm-2 text-warning">{{confirmedCases}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-primary">Recovered Cases:</div>
                    <div class="col-sm-2 text-success">{{RecoveredCases}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-primary">Death:</div>
                    <div class="col-sm-2 text-danger">{{Deaths}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-primary">Last Updated Time:</div>
                    <div class="col-sm-2 text-muted">{{LastUpdatedTime | date : "medium"}}</div>
                </div>
            </div>
            <h5 class="text-center text-danger" ng-if="showErrMsg">
                {{errorMsg}}
            </h5>
        </div>
    </div>
